# FRED API 키 (무료 발급: https://fred.stlouisfed.org/docs/api/api_key.html)
FRED_API_KEY=your_fred_api_key_here

# 한국은행 ECOS API 키 (무료 발급: https://ecos.bok.or.kr/api/ 회원가입 후 자동 발급)
ECOS_API_KEY=your_ecos_api_key_here

# 구글 Gemini API 키 
GEMINI_API_KEY=your_Gemini_api_key_here